<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <%- include('partials/head') %>
</head>
<body>
    <div class="container">
        <center>
            <h1><%= error %></h1>
        </center>
    </div>
    <%- include('partials/js-bootstrap') %>
</body>
</html>